<header>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url('../../../assets/background.jpg')">
      <div id="test">EpiCosmos</div>
      <div id="accroche">
        Professionals or amateurs, find satellite data online!</div>
      <div class="container">
        <div id="cover">
          <form method="get" action="">
            <div class="tb">
              <div class="td"><input type="text" placeholder="Search" required></div>
              <div class="td" id="s-cover">
                <button type="submit">
                  <div id="s-circle"></div>
                  <span></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="wrap">
    <img src="../../assets/arrow.png" id="arrow" class="animated bounce">
  </div>
</header>
