
<body>
<div class="card-container">
	<img class="round" src="../../assets/stl.png" alt="user" />
	<h3>Search for a Satellite</h3>
	<p>
    type the ID of the satellite you are looking for</p>

    <div class="wrap">
      <div class="search">
         <input type="text" class="searchTerm" placeholder="Try with '25544'">
         <button type="submit" class="searchButton">
           <i class="fa fa-search"></i>
        </button>
      </div>
   </div>

	<div class="satellite">

	</div>
</div>

</body>
